@font-face {
  font-family: "MontserratRegular";
  src: local("MontserratRegular"),
    url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: bold;
}

html {
  height: --webkit-fill-available;
}

body {
  height: 100%;
  height: --webkit-fill-available;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-font {
  font-family: "MontserratRegular";
}
